.table[b-3nrh8uusjh] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead[b-3nrh8uusjh] {
    background-color: #ddd;
}

.filter-menu[b-3nrh8uusjh] {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: space-between;
}

.filter-menu button[b-3nrh8uusjh] {
    flex: 1;
}

td[b-3nrh8uusjh], th[b-3nrh8uusjh] {
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

td input[type="checkbox"][b-3nrh8uusjh] {
    margin-right: 10px;
}

td input[type="text"][b-3nrh8uusjh] {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-menu button:not(:last-child)[b-3nrh8uusjh],
.filter-menu button:not(:first-child)[b-3nrh8uusjh] {
    border-radius: 0;
}

.filter-menu button:first-child[b-3nrh8uusjh] {
    border-radius: 4px 0 0 0;
}

.filter-menu button:last-child[b-3nrh8uusjh] {
    border-radius: 0 4px 0 0;
}

