/* /Pages/AddTodo/AddTodo.razor.rz.scp.css */
.add-todo-item[b-tdiakqxlqj] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-todo[b-tdiakqxlqj],
.add-todo div[b-tdiakqxlqj] {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
/* /Pages/TodoList/TodoList.razor.rz.scp.css */
.table[b-3nrh8uusjh] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead[b-3nrh8uusjh] {
    background-color: #ddd;
}

.filter-menu[b-3nrh8uusjh] {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: space-between;
}

.filter-menu button[b-3nrh8uusjh] {
    flex: 1;
}

td[b-3nrh8uusjh], th[b-3nrh8uusjh] {
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

td input[type="checkbox"][b-3nrh8uusjh] {
    margin-right: 10px;
}

td input[type="text"][b-3nrh8uusjh] {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-menu button:not(:last-child)[b-3nrh8uusjh],
.filter-menu button:not(:first-child)[b-3nrh8uusjh] {
    border-radius: 0;
}

.filter-menu button:first-child[b-3nrh8uusjh] {
    border-radius: 4px 0 0 0;
}

.filter-menu button:last-child[b-3nrh8uusjh] {
    border-radius: 0 4px 0 0;
}

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-6aghu7tzuu] {
    display: flex;
    flex-direction: column;
}

main[b-6aghu7tzuu] {
    flex: 1;
}
/* /Shared/NavBar.razor.rz.scp.css */
nav[b-6pz2pye8wq] {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 16px 4vw;
    margin-bottom: 16px;
    gap: 4vw;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul[b-6pz2pye8wq] {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 4vw;
}

a[b-6pz2pye8wq] {
    text-decoration: none;
    font-size: 1.2rem;
}
