<nav>
    <a href="#"> TodoList Application </a>
    <ul>
        <li>
            <NavLink href="">Home</NavLink>
        </li>
        <li>
            <NavLink href="/todolist">Todo List</NavLink>
        </li>
        <li>
            <NavLink href="/add-todo">Add</NavLink>
        </li>
    </ul>
</nav>

