@page "/add-todo"
@inject TodoService TodoService

<div class="add-todo-item">
    <h2>Add Todo</h2>
    <hr />
    <div>
        <h3>Todo Title</h3>
        <input type="text" @bind="NewTodoTitle" />
    </div>
    <div>
        <h3>Todo Description</h3>
        <input type="" @bind="NewTodoDescription" />
    </div>
    <div>
        <h3>Todo Due Date</h3>
        <input type="date" @bind="NewTodoDueDate" />
    </div>
    <button @onclick="AddTodoItem">Add</button>
</div>

@code {
    public string? NewTodoTitle { get; set; }
    public string? NewTodoDescription { get; set; }
    public DateTime NewTodoDueDate { get; set; } = DateTime.Now;

    public void AddTodoItem()
    {   
        TodoService.Add(new TodoItem
        {
            Title = NewTodoTitle,
            Description = NewTodoDescription,
            DueDate = NewTodoDueDate
        });
        NewTodoTitle = string.Empty;
        NewTodoDescription = string.Empty;
        NewTodoDueDate = DateTime.Now;
    }
}